<!DOCTYPE html>
<html lang="en">
<head>
  <title>Avalon</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Grenze+Gotisch&family=Roboto+Slab&display=swap" rel="stylesheet">
  <link href="assets/css/style.css" rel="stylesheet">
  <link href="assets/css/gameStyle.css" rel="stylesheet">
</head>

	<body>
<!-- Nav Bar -->
<nav class="navbar navbar-dark bg-dark">
    <div class="container-center">
    <div class="navbar-header">
        <a class="text-white" style="font-size: 50px; font-family: 'Grenze Gotisch', cursive;" href="/home">Avalon</a>
    </div>
    <div class="container d-flex flex-column flex-md-row justify-content-between">
        <button type="submit" class="btn btn-light" style="font-size: 12px; font-family: 'Roboto Slab', serif;"><a href="/login">Log In</a></button>
        <button type="submit" class="btn btn-light" style="font-size: 12px; font-family: 'Roboto Slab', serif;"><a href="/signup">Sign-Up</a></button>
    </div>
</nav>
    <div class="container d-flex flex-column justify-content-center">
        {{{ body }}}
    </div>

{{!-- Scripts --}}
    <script src="https://code.jquery.com/jquery.js"></script>

	</body>
</html>
