<style>
  body {
    background-image: url('/assets/img/smokey-woods-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* Fixed background */
    background-attachment: fixed;
  }
</style>

<!-- Wait Lobby Container -->
<div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12 gold"style="background-color: #00000049; border-radius: 5px; margin: 20px;">
        <br>
            <h2>Main Lobby</h2>
            <hr class="style-eight">
        </br>
        <div class="row justify-content-center">
            <div class="col-lg-10 gold mb-10" style="background-color: #00000049; border-radius: 5px; margin: 20px;">
                <form class="custom-lobby">

                    <div class="form-group start-game"></div>
                
                    <div class="form-group" id="lobby-info">
                        <label for="view-participants" id="user-count"></label>
                        <div class="list-group" id="view-participants"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- JS, Popper.js, and jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/activeLobby.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>