<!-- Quest Container -->
  <div class="container" id="modal-container">
    
  </div>

    <!-- Chat Container -->
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 border" style="font-size: 30px; font-weight: bold; font-family: 'Roboto Slab', serif; background-color: #f1f1f1e8; border-radius: 25px; margin-top: 200px;">
          <ul id="chat-messages">
            <li>
                test
            </li>
        </ul>
        <form action="" id="chat-form">
          <input id="chat-input"  placeholder="Type to chat..." autocomplete="off" /><button>Send</button>
        </form>  
        </div>
      </div>
    </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/assets/js/chat.js"></script>
  <script src="/assets/js/gameHandlers.js"></script>
  <script src="/assets/js/game.js"></script>