<style>
    body {
    background-image: url('../public/assets/img/library-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    height: 950px;
    }
</style>

<!-- Rules Container -->
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 border" style="font-size: 30px; font-weight: bold; font-family: 'Roboto Slab', serif; background-color: #f1f1f1e8; border-radius: 25px; margin-top: 200px;">
        <br>
        <h2>Rules</h2>
        <p style="font-size: 20px; font-family: 'Roboto Slab', serif;"> Objective</p>
        <p style="font-size: 15px; font-family: 'Roboto Slab', serif;"> Avalon is an online game for 5-10 people where each player is randomly given a role by being dealt a card face down. 
            Players on the mission are given 2 cards and secretly choose one of them, “succeed” or “fail.” The good team always wants the
            mission to succeed. Evil team members on a mission can choose either succeed or fail.</p>
        <hr>
        <p style="font-size: 20px; font-family: 'Roboto Slab', serif;">The Cards & Tokens</p>
        <hr>
        <p style="font-size: 20px; font-family: 'Roboto Slab', serif;">Game Play</p>
        <hr>
        <p style="font-size: 20px; font-family: 'Roboto Slab', serif;">Quest Phase</p>
        <hr>
        <p style="font-size: 20px; font-family: 'Roboto Slab', serif;">Game End</p>
        <hr>
        <p style="font-size: 10px; font-family: 'Roboto Slab', serif;">For full game details, visit <a href="https://avalon.fun/pdfs/rules.pdf" target="popup">here</a></p>  
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {{!-- <script type="text/javascript" src="js/login.js"></script> --}}