<style>
  body {
    background-image: url('/assets/img/background-castle-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* Fixed background */
    background-attachment: fixed;
  }
</style>

<!-- Login Container -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-5 gold mb-10" style="background-color: #000000af; border-radius: 5px; margin-top: 200px;">
      <br>
      <h2>Login</h2>
      <form class="login">
        <div class="form-group">
          <label for="email-input">Email address</label>
          <input type="email" class="form-control" id="email-input" placeholder="email@example.com">
        </div>
        <div class="form-group">
          <label for="password-input">Password</label>
          <input type="password" class="form-control" id="password-input" autocomplete="off" placeholder="●●●●●●●●●●●">
        </div>
        <button type="submit" class="btn gradient gold-square mr-5">OK</button>
      </form>
      <br/>
      <p style="font-size: 11px;">New around here?<a href="/signup"> Sign Up</a></p>
      <p style="font-size: 11px;"><a href="/">Forgot Password?</a></p>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="assets/js/login.js"></script>