  <style>
    body {
    background-image: url('/assets/img/background-castle-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* Fixed background */
    background-attachment: fixed;
    height: 950px;
    }
  </style>

<!-- Login Container -->
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 border" style="font-size: 15px; font-weight: bold; font-family: 'Roboto Slab', serif; background-color: #f1f1f1af; border-radius: 25px; margin-top: 200px;">
        <br>
        <h2>Login</h2>
        <form class="login">
          <div class="form-group">
            <label for="username-input">User Name</label>
            <input type="text" class="form-control" id="username-input" placeholder="username123">
          </div>
          <div class="form-group">
            <label for="email-input">Email address</label>
            <input type="email" class="form-control" id="email-input" placeholder="email@example.com">
          </div>
          <div class="form-group">
            <label for="password-input">Password</label>
            <input type="password" class="form-control" id="password-input" autocomplete="off" placeholder="password">
          </div>
          <button type="submit" class="btn btn-dark" style="font-size: 12px; font-family: 'Roboto Slab', serif;">Login</button>
        </form>
        <br />
        <p style="font-size: 10px; font-family: 'Roboto Slab', serif;">New around here?<a href="/"> Sign Up</a></p>
        <p style="font-size: 10px; font-family: 'Roboto Slab', serif;"><a href="/">Forgot Password?</a></p>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="assets/js/login.js"></script>