<style>
  body {
    background-image: url('/assets/img/background-castle-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* Fixed background */
    background-attachment: fixed;
  }
</style>

<!-- Logout Container -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-5 gold mb-10" style="background-color: #000000af; border-radius: 5px; margin-top: 200px;">
      <br>
      <h2>Thanks for playing!</h2>
      <br/>
      <p>Oops, didn't mean to sign-out?</p>
      <button type="submit" class="btn gradient gold-square mr-2" style="font-size: 12px;"><a href="/login">Log In</a></button>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>