/* Vanilla Stylesheet */
@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

form.signup, form.login {
  margin-top: 50px;
}

.container, button:link, button:visited, button:hover, a:link, a:visited, a:hover, image:hover {
  cursor: url(/assets/img/dagger-sm.png), auto;
  position: relative;
}

hr.style-eight {
  overflow: visible; /* For IE */
  padding: 0;
  border: none;
  border-top: medium double rgba(235, 201, 10, 0.562); 
  color: rgba(235, 201, 10, 0.562); 
  text-align: center;
}

hr.style-eight:after {
  content: "§";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 2em;
  padding: 0 0.25em;
  background: none;
}

title, #avalon-nav {
  font-family: 'Rye', cursive;
  font-size: 75px;
  color: whitesmoke;
  text-shadow: -1px -1px 0 rgba(235, 201, 10, 0.562), 1px -1px 0 rgba(235, 201, 10, 0.562), -1px 1px 0 rgba(235, 201, 10, 0.562), 1px 1px 0 rgba(235, 201, 10, 0.562);
}

h1 {
  color: whitesmoke; 
  text-align: center;
  font-size: 25px; 
  font-weight: bold; 
  font-family: 'Libre Baskerville', serif;
  background-color: #0000008c; 
  width: 200px;
  height: 100px;
}

h2 {
  color: whitesmoke;
  text-align: center;
  font-size: 25px; 
  font-family: 'Libre Baskerville', serif;
}

p, label, button  {
  color: whitesmoke;
  font-size: 15px; 
  font-family: 'Libre Baskerville', serif;
}

input {
  width: 15px;
  height: 15px;
  padding: 0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  *overflow: hidden;
}

::placeholder {
  color: black;
  font-size: 12px;
  font-family: 'Libre Baskerville', serif;
}

ul, li {
  list-style-type: none;
}

a, #logout {
  color:whitesmoke;
}

a:hover, a:visited, a:link, a:active {
  color: whitesmoke;
  text-decoration: none !important;
}

.navbar-dark .navbar-toggler {
  color: rgba(255,255,255,.5);
  border-color: rgba(255, 255, 255, 0);
}

.gold {
  border-style: groove;
  border-width: 7px;
  border-color: rgba(235, 201, 10, 0.562); 
  border-radius: 25px 
}

.gold-square {
  border-style: groove;
  border-width: 5px;
  border-color: rgba(235, 201, 10, 0.562); 
  border-radius: 5px; 
}

.form-group{
  border: 0; 
  padding: 5px; 
  width: 100%; 
  margin-right: 0.5%;
}

form input {
  border: 0; 
  padding: 5px; 
  width: 80%; 
  margin-right: 0.5%;
  font-size: 12px;
}

form button {
  width: 10%; 
  background: rgb(87, 112, 121); 
  border: none; 
  padding: 10px; 
  border-radius: 50px;
  margin-bottom: 10px;
}

.lobby-size {
  border: 0; 
  padding: 5px; 
  width: 30%; 
  margin-left: 35%;
}

.gradient {
  background-image: linear-gradient(rgba(245, 245, 245, 0.486), black, rgba(245, 245, 245, 0.486));
  color:whitesmoke;
}

.gradient-settings {
  background-image: linear-gradient( black, rgba(245, 245, 245, 0.486), black);
  color:whitesmoke;
}

#quest {
  width: 218px; 
  color:whitesmoke;
}

#player-btn {
  border-color: rgba(235, 201, 10, 0.562); 
}